.App {
  text-align: center;
}

form{
  border: 1px solid gray;
  width: 40%;
}

#oneCard{
  width: 40%;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 10px;
}

#allCards{
  padding: 5%;
}

#editLink{
  text-decoration: none;
}

button{
  margin: 10px;
}
